@import "bourbon/bourbon";
@import "bourbon/neat";
@import "bourbon/neat-helpers";

$green: #6E8247;
$blue: #5386A3;
$white: #FFF;
$grey: #E1E1E1;

/* font */
@include font-face('varelaround', 'fonts/varelaround-regular');

/* core */
body {
	font-family: "varelaround", sans-serif;
	line-height: 24px;
}

#nav, #content {
	@include outer-container;
}

h2 {
	color: $green;
	font-size: 28px;
	font-weight: normal;
}

h3 {
	text-transform: uppercase;
	font-weight: normal;
	font-size: 14px;
	display: inline;
	padding: 5px;
}

/* nav */
#nav {
	a {
		color: $blue;
		text-decoration: none;
		&:hover {
			color: $green;
		}
	}
	
	ul {
		border-top: thin solid $grey;
		border-bottom: thin solid $grey;
		padding: 5px;
	}
	
	li {
		@include media(768px) {
    		@include inline-block;
    	}

    	list-style: none;
		margin-right: 30px;
	}
}

/* content */

.aside {

	@include media(768px) {
    	@include span-columns(3);
    }
	
	padding: 30px 0;
	font-size: 12px;
}

.left {
	background: $blue;
	color: $white;
	border: thin solid #5D94AF;
	
	h3 {
		background: #3B6377;
	}
	
	ul {
		
		a {
			color: $white;
		}
		
		li {
			list-style: circle;
		}
	}
}

.right {
	background: $green;
	color: $white;
	border: thin solid #73864E;
	
	h3 {
		background: #515E36;
	}
	
	p, form {
		padding: 0 10px;
	}
	
	label {
		display: block;
	}
	
	input[type="email"], input[type="text"], textarea {
		width: 100%;
	}
	
	input[type="email"], input[type="text"] {
		height: 25px;
	}
	
	textarea {
		height: 140px;
	}
	
	input[type="submit"], small {
		float: right;
		clear: both;
	}
	
	input[type="submit"] {
		@include button;
	}
}

.number {
	font-size: 28px;
	margin: 10px;
}

.article {
	@include media(768px) {
    	@include span-columns(6);
    }
}