* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* font */
@font-face {
  font-family: "varelaround";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/varelaround-regular.eot");
  src: url("fonts/varelaround-regular.eot?#iefix") format("embedded-opentype"), url("fonts/varelaround-regular.woff") format("woff"), url("fonts/varelaround-regular.ttf") format("truetype"), url("fonts/varelaround-regular.svg#varelaround") format("svg");
}

/* core */
body {
  font-family: "varelaround", sans-serif;
  line-height: 24px;
}

#nav, #content {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
#nav:before, #nav:after, #content:before, #content:after {
  content: "";
  display: table;
}
#nav:after, #content:after {
  clear: both;
}

h2 {
  color: #6e8247;
  font-size: 28px;
  font-weight: normal;
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  display: inline;
  padding: 5px;
}

/* nav */
#nav a {
  color: #5386a3;
  text-decoration: none;
}
#nav a:hover {
  color: #6e8247;
}
#nav ul {
  border-top: thin solid #e1e1e1;
  border-bottom: thin solid #e1e1e1;
  padding: 5px;
}
#nav li {
  list-style: none;
  margin-right: 30px;
}
@media screen and (min-width: 768px) {
  #nav li {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
  }
}

/* content */
.aside {
  padding: 30px 0;
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .aside {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%;
  }
  .aside:last-child {
    margin-right: 0;
  }
}

.left {
  background: #5386a3;
  color: white;
  border: thin solid #5D94AF;
}
.left h3 {
  background: #3B6377;
}
.left ul a {
  color: white;
}
.left ul li {
  list-style: circle;
}

.right {
  background: #6e8247;
  color: white;
  border: thin solid #73864E;
}
.right h3 {
  background: #515E36;
}
.right p, .right form {
  padding: 0 10px;
}
.right label {
  display: block;
}
.right input[type="email"], .right input[type="text"], .right textarea {
  width: 100%;
}
.right input[type="email"], .right input[type="text"] {
  height: 25px;
}
.right textarea {
  height: 140px;
}
.right input[type="submit"], .right small {
  float: right;
  clear: both;
}
.right input[type="submit"] {
  border: 1px solid #076fe4;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8ebcf1;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(top, #4294f0, #0776f3);
  background-image: -moz-linear-gradient(top, #4294f0, #0776f3);
  background-image: -ms-linear-gradient(top, #4294f0, #0776f3);
  background-image: -o-linear-gradient(top, #4294f0, #0776f3);
  background-image: linear-gradient(top, #4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  -webkit-background-clip: padding-box;
}
.right input[type="submit"]:hover:not(:disabled) {
  -webkit-box-shadow: inset 0 1px 0 0 #60a2ec;
  box-shadow: inset 0 1px 0 0 #60a2ec;
  cursor: pointer;
  background-color: #2f87ea;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
  background-image: -webkit-linear-gradient(top, #2f87ea, #086fe3);
  background-image: -moz-linear-gradient(top, #2f87ea, #086fe3);
  background-image: -ms-linear-gradient(top, #2f87ea, #086fe3);
  background-image: -o-linear-gradient(top, #2f87ea, #086fe3);
  background-image: linear-gradient(top, #2f87ea, #086fe3);
}
.right input[type="submit"]:active:not(:disabled) {
  border: 1px solid #076fe4;
  -webkit-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
}
.right input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.number {
  font-size: 28px;
  margin: 10px;
}

@media screen and (min-width: 768px) {
  .article {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 48.82117%;
  }
  .article:last-child {
    margin-right: 0;
  }
}
