* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* font */
@font-face {
  font-family: "dosis-regular";
  font-weight: normal;
  font-style: normal;
  src: url("fonts/dosis-regular.eot");
  src: url("fonts/dosis-regular.eot?#iefix") format("embedded-opentype"), url("fonts/dosis-regular.woff") format("woff"), url("fonts/dosis-regular.ttf") format("truetype"), url("fonts/dosis-regular.svg#dosis-regular") format("svg");
}

/* core */
body {
  font-family: sans-serif;
  line-height: 24px;
  margin-top: 0;
}

#nav, #content {
  zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
}
#nav:before, #nav:after, #content:before, #content:after {
  content: "";
  display: table;
}
#nav:after, #content:after {
  clear: both;
}

h2, h3, #nav, .number {
  font-family: 'dosis-regular', sans-serif;
}

h2 {
  color: #6e8247;
  font-size: 28px;
  font-weight: normal;
}
h2:nth-of-type(2) {
  font-size: 24px;
}

h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  padding: 5px;
  background: black;
}

/* nav */
#nav {
  background: #5386a3;
  padding: 0 30px;
  margin-bottom: 20px;
}
#nav a {
  font-size: 14px;
  color: white;
  text-decoration: none;
  padding-bottom: 15px;
}
#nav a:hover {
  color: #e1e1e1;
}
#nav ul {
  border-top: thin solid #b1c9d4;
  padding-top: 10px;
}
#nav li {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 0 30px;
  border-right: thin solid white;
  text-transform: uppercase;
}
#nav li.current a {
  color: #b1c9d4;
  border-bottom: thick solid #b1c9d4;
}
#nav li:first-child {
  padding-left: 0;
}

/* content */
.aside {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 23.23176%;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 30px 0;
  font-size: 12px;
}
.aside:last-child {
  margin-right: 0;
}

.left {
  background: #5386a3;
  color: white;
  border: thin solid #5D94AF;
}
.left ul a {
  color: white;
}
.left ul li {
  list-style: circle;
}

.right {
  background: #6e8247;
  color: white;
  border: thin solid #73864E;
}
.right p, .right form {
  padding: 0 10px;
}
.right label {
  display: block;
}
.right input[type="email"], .right input[type="text"], .right textarea {
  width: 100%;
}
.right input[type="email"], .right input[type="text"] {
  height: 25px;
}
.right textarea {
  height: 140px;
}
.right input[type="submit"], .right small {
  float: right;
  clear: both;
}
.right input[type="submit"] {
  border: 1px solid #076fe4;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8ebcf1;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(top, #4294f0, #0776f3);
  background-image: -moz-linear-gradient(top, #4294f0, #0776f3);
  background-image: -ms-linear-gradient(top, #4294f0, #0776f3);
  background-image: -o-linear-gradient(top, #4294f0, #0776f3);
  background-image: linear-gradient(top, #4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  -webkit-background-clip: padding-box;
}
.right input[type="submit"]:hover:not(:disabled) {
  -webkit-box-shadow: inset 0 1px 0 0 #60a2ec;
  box-shadow: inset 0 1px 0 0 #60a2ec;
  cursor: pointer;
  background-color: #2f87ea;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
  background-image: -webkit-linear-gradient(top, #2f87ea, #086fe3);
  background-image: -moz-linear-gradient(top, #2f87ea, #086fe3);
  background-image: -ms-linear-gradient(top, #2f87ea, #086fe3);
  background-image: -o-linear-gradient(top, #2f87ea, #086fe3);
  background-image: linear-gradient(top, #2f87ea, #086fe3);
}
.right input[type="submit"]:active:not(:disabled) {
  border: 1px solid #076fe4;
  -webkit-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
}
.right input[type="submit"]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.number {
  font-size: 28px;
  margin: 10px;
}

.article {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
}
.article:last-child {
  margin-right: 0;
}
